script(type: 'text/javascript', src: '/js/create.js')
script(type: 'text/javascript')
  | var STORY_ID = '#{story._id}';
h1 #{story.title}
h2 edit story
textarea#story(rows: '20', cols: '100')= story.text
a#save(href: 'javascript:void(0);') save
br
a(href: '/user/'+user._id) my stories &raquo;
br
a(href: '/all') view all stories &raquo;
br
br
strong messages:
div#messages
  - for(i in story.messages)
    div.message= story.messages[i].message
      strong &nbsp;by #{story.messages[i].by}
