script(type: 'text/javascript', src: '/js/story.js')
script(type: 'text/javascript')
  | var STORY_ID = '#{story._id}';
h1 #{story.title}
div#story= story.text
br
- if(user)
  a(href: '/user/'+user._id) my stories &raquo;
  br
a(href: '/all') view all stories &raquo;
- if(!user)
  br
  a(href: '/') signin or signup &raquo;
br
br
strong messages:
div your name is 
  strong#name= name
input(id: 'message', type: 'text')
div#messages
  - for(i in story.messages)
    div.message= story.messages[i].message
      strong &nbsp;by #{story.messages[i].by}
